{% extends 'base.html' %}

{% block content %}
    <div class="container py-5 d-flex justify-content-center">
        <form method="post" class="w-50 justify-content-center text-center">
            {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <h1 class="mb-4" style="color: blue;">Ro'yxatdan o'tish!</h1>


            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="row mb-4">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example1">Ism</label>
                        {{ form.first_name }}

                        {% if form.first_name.errors %}
                            <div class="text-danger">
                                {{ form.first_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form3Example2">Familiya</label>
                        {{ form.last_name }}

                        {% if form.last_name.errors %}
                            <div class="text-danger">
                                {{ form.last_name.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Username</label>
                        {{ form.username }}

                        {% if form.username.errors %}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email</label>
                        {{ form.email }}

                        {% if form.email.errors %}
                            <div class="text-danger">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example4">Parol o'ylab toping:</label>
                        {{ form.password1 }}

                        {% if form.password1.errors %}
                            <div class="text-danger">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="form3Example4">Parolni qayta tering:</label>
                        {{ form.password2 }}

                        {% if form.password2.errors %}
                            <div class="text-danger">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-outline-primary mb-4">Ro'yxatdan o'tish</button>

        </form>
    </div>
{% endblock %}
