{% load static %}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-7 col-xl-8 mt-0">
                <div class="position-relative overflow-hidden rounded">
                    <img src="{{ banner_news.get_image }}" class="img-fluid rounded img-zoomin w-100" alt="">
                    <div class="d-flex justify-content-center px-4 position-absolute flex-wrap"
                         style="bottom: 10px; left: 0;">
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-clock"></i> {{ banner_news.created_at|time:"H:i" }} {{ banner_news.created_at|date:"M d, Y" }} </a>
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-eye"></i> {{ banner_news.views }} Views </a>
                        <a href="#" class="text-white me-3 link-hover"><i class="fa fa-comment-dots"></i> Comments </a>
                        <a href="https://t.me/share/url?url=http://127.0.0.1:8000/news/{{ banner_news.slug }}&text={{ banner_news.title }}" class="text-white link-hover"><i class="fa fa-arrow-up"></i> To telegram </a>
                    </div>
                </div>
                <div class="border-bottom py-3">
                    <a href="{% url 'detail' banner_news.slug %}" class="display-4 text-dark mb-0 link-hover">
                        {{ banner_news.title|truncatechars:30 }}
                    </a>
                </div>
                <p class="mt-3 mb-4">
                    {{ banner_news.description|truncatechars:300 }}
                </p>
                <div class="bg-light p-4 rounded">
                    <div class="news-2">
                        <h3 class="mb-4">Top Story</h3>
                    </div>
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="rounded overflow-hidden">
                                <img src="{{ top_news.get_image }}" class="img-fluid rounded img-zoomin w-100"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <a href="{% url 'detail' top_news.slug %}" class="h3">
                                    {{ top_news.title|truncatechars:60 }}
                                </a>
                                <p class="mb-0 fs-5"><i class="fa fa-clock"> {{ top_news.created_at|time:"H:i" }} {{ top_news.created_at|date:"d M, Y" }}</i></p>
                                <p class="mb-0 fs-5"><i class="fa fa-eye"> {{ top_news.views }} Views</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 pt-0">
                    <div class="row g-4">
                        {% for news in banner_newses %}
                        	{% if forloop.first %}
                                <div class="col-12">
                                    <div class="rounded overflow-hidden">
                                        <img src="{{ news.get_image }}"
                                             class="img-fluid rounded img-zoomin w-100"
                                             alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-flex flex-column">
                                        <a href="{% url 'detail' news.slug %}" class="h4 mb-2">{{ news.title|truncatechars:30 }}</a>
                                        <p class="fs-5 mb-0"><i class="fa fa-clock"> {{ top_news.created_at|time:"H:i" }} {{ top_news.created_at|date:"d M, Y" }}</i></p>
                                        <p class="fs-5 mb-0"><i class="fa fa-eye"> {{ news.views}} Views</i></p>
                                    </div>
                                </div>
                            {% else %} 
                                <div class="col-12">
                            <div class="row g-4 align-items-center">
                                <div class="col-5">
                                    <div class="overflow-hidden rounded">
                                        <img src="{{ news.get_image }}"
                                             class="img-zoomin img-fluid rounded w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="features-content d-flex flex-column">
                                        <a href="{% url 'detail' news.slug %}" class="h6">{{ news.title|truncatechars:30 }}</a>
                                        <small><i class="fa fa-clock"> {{ top_news.created_at|time:"H:i" }} {{ top_news.created_at|date:"d M, Y" }}</i> </small>
                                        <small><i class="fa fa-eye"> {{ news.views}} Views</i></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}


                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>