{% load static %}

<div class="container-fluid populer-news py-5">
    <div class="container py-5">
        <div class="tab-class mb-4">
            <div class="row g-4">
                <div class="col-lg-8 col-xl-9">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between border-bottom mb-4">
                        <h1 class="mb-4">What’s New</h1>
                        <ul class="nav nav-pills d-inline-flex text-center">
                            <li class="nav-item mb-3">
                                <a class="d-flex py-2 bg-light rounded-pill active me-2" data-bs-toggle="pill"
                                   href="#barchasi">
                                    <span class="text-dark" style="width: 100px;">Barchasi</span>
                                </a>
                            </li>
                            {% for category in categories %}
                                <li class="nav-item mb-3">
                                    <a class="d-flex py-2 bg-light rounded-pill me-2" data-bs-toggle="pill"
                                       href="#{{ category.slug }}">
                                        <span class="text-dark" style="width: 100px;">{{ category.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-content mb-4">
                        <div id="barchasi" class="tab-pane fade show p-0 active">
                            <div class="row g-4">

                                {% for news in all_newses %}
                                    {% if forloop.first %}
                                        <div class="col-lg-8">
                                            <div class="position-relative rounded overflow-hidden">
                                                <img src="{{ news.get_image }}"
                                                     class="img-zoomin img-fluid rounded w-100" alt="">
                                                <div class="position-absolute text-white px-4 py-2 bg-primary rounded"
                                                     style="top: 20px; right: 20px;">
                                                    {{ news.category }}
                                                </div>
                                            </div>
                                            <div class="my-4">
                                                <a href="{% url 'detail' news.slug %}" class="h4">
                                                    {{ news.title }}
                                                </a>
                                            </div>
                                            <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and
                                                typesetting
                                                industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum
                                                has
                                                been the industry's standard dummy..
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <a href="#" class="text-dark link-hover me-3">
                                                        <i class="fa fa-clock"></i>
                                                        {{ news.created_at|time:"H:i" }} {{ news.created_at|date:"d M, Y" }}
                                                    </a>
                                                    <a href="#" class="text-dark link-hover me-3">
                                                        <i class="fa fa-eye"></i>
                                                        {{ news.views }} Views
                                                    </a>
                                                    <a href="#" class="text-dark link-hover me-3"><i
                                                            class="fa fa-comment-dots"></i>
                                                        Comments
                                                    </a>
                                                    <a href="https://t.me/share/url?url=http://127.0.0.1:8000/news/{{ news.slug }}&text={{ news.title }}"
                                                       class="text-dark link-hover" target="_blank">
                                                        <i class="fa fa-arrow-up"></i> To telegram
                                                    </a>
                                            </div>

                                        </div>
                                    {% elif forloop.counter < 7 %}
                                        {% if forloop.counter == 2 %}
                                            <div class="col-lg-4">
                                                <div class="row g-4">
                                        {% endif %}

                                            <div class="col-12">
                                                <div class="row g-4 align-items-center">
                                                    <div class="col-5">
                                                        <div class="overflow-hidden rounded">
                                                            <img src="{{ news.get_image }}"
                                                                 class="img-zoomin img-fluid rounded w-100" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="features-content d-flex flex-column">
                                                            <p class="text-uppercase mb-2">{{ news.category }}</p>
                                                            <a href="{% url 'detail' news.slug %}" class="h6">
                                                                {{ news.title|truncatechars:30 }}
                                                            </a>
                                                            <small class="text-body d-block">
                                                                <i class="fas fa-calendar-alt me-1"></i> 
                                                                {{ news.created_at|date:"M d, Y" }}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                        {% if forloop.counter == 6 or forloop.last %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% for category in categories %}
                            <div id="{{ category.slug }}" class="tab-pane fade p-0">
                                <div class="row g-4">
                                    {% for news in category.get_newses %}
                                        {% if forloop.first %}
                                            <div class="col-lg-8">
                                                <div class="position-relative rounded overflow-hidden">
                                                    <img src="{{ news.get_image }}"
                                                         class="img-zoomin img-fluid rounded w-100"
                                                         alt="">
                                                    <div class="position-absolute text-white px-4 py-2 bg-primary rounded"
                                                         style="top: 20px; right: 20px;">
                                                        {{ news.category.title }}
                                                    </div>
                                                </div>
                                                <div class="my-3">
                                                    <a href="{% url 'detail' news.slug %}" class="h4">{{ news.title }}</a>
                                                </div>
                                                <p class="mt-4">{{ news.description|truncatechars:200 }}</p>
                                                <div class="d-flex justify-content-between">
                                                    <a href="#" class="text-dark link-hover me-3">
                                                        <i class="fa fa-clock"></i> {{ news.created_at|time:"H:i" }} {{ news.created_at|date:"d M, Y" }}
                                                    </a>
                                                    <a href="#" class="text-dark link-hover me-3">
                                                        <i class="fa fa-eye"></i> {{ news.views }} Views
                                                    </a>
                                                    <a href="#" class="text-dark link-hover me-3"><i
                                                            class="fa fa-comment-dots"></i>
                                                        Comments</a>
                                                    <a href="https://t.me/share/url?url=http://127.0.0.1:8000/news/{{ news.slug }}&text={{ news.title }}"
                                                       class="text-dark link-hover" target="_blank">
                                                        <i class="fa fa-arrow-up"></i> To telegram
                                                    </a>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% if forloop.counter == 2 %}
                                                <div class="col-lg-4">
                                                    <div class="row g-4">
                                            {% endif %}

                                            <div class="col-12">
                                                <div class="row g-4 align-items-center">
                                                    <div class="col-5">
                                                        <div class="overflow-hidden rounded">
                                                            <img src="{{ news.get_image }}"
                                                                 class="img-zoomin img-fluid rounded w-100"
                                                                 alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-7">
                                                        <div class="features-content d-flex flex-column">
                                                            <p class="text-uppercase mb-2">{{ news.category }}</p>
                                                            <a href="{% url 'detail' news.slug %}" class="h6">{{ news.title|truncatechars:30 }}</a>
                                                            <small class="text-body d-block">
                                                                <i class="fas fa-calendar-alt me-1"></i> {{ news.created_at|date:"M d, Y" }}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                            {% if forloop.counter == 6 or forloop.last %}
                                                    </div> 
                                                </div> 
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div> 
                            </div>
                        {% endfor %}

                    </div>
                
                    <div class="border-bottom mb-4">
                        <h2 class="my-4">Most Views News</h2>
                    </div>
                    <div class="whats-carousel owl-carousel">
                        {% for news in most_newses %}
                        	<div class="whats-item">
                            <div class="bg-light rounded">
                                <div class="rounded-top overflow-hidden">
                                    <img src="{{ news.get_image }}"
                                         class="img-zoomin rounded-top" alt="" width="400px" height="300px">
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <a href="{% url 'detail' news.slug %}" class="h4">
                                        {{ news.title|truncatechars:60 }}
                                    </a>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="small text-body link-hover">
                                            {{ news.author }}
                                        </a>
                                        <small class="text-body d-block">
                                            <i class="fas fa-calendar-alt me-1"></i>
                                            {{ news.created_at|time:"H:i" }} {{ news.created_at|date:"M d, Y" }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="mt-5 lifestyle">
                        <div class="border-bottom mb-4">
                            <h1 class="mb-4">Random newses</h1>
                        </div>
                        <div class="row g-4">
                            {% for news in random_newses %}
                                <div class="col-lg-6">
                                    <div class="lifestyle-item rounded">
                                        <img src="{{ news.get_image }}" class="rounded"
                                             alt="" width="100%" height="300px">
                                        <div class="lifestyle-content">
                                            <div class="mt-auto">
                                                <a href="{% url 'detail' news.slug %}" class="h4 text-white link-hover">
                                                    {{ news.title|truncatechars:60 }}
                                                </a>
                                                <div class="d-flex justify-content-between mt-4">
                                                    <a href="#" class="small text-white link-hover">
                                                        {{ news.author }}
                                                    </a>
                                                    <small class="text-white d-block">
                                                        <i class="fas fa-calendar-alt me-1"></i>
                                                        {{ banner_news.created_at|time:"H:i" }} {{ banner_news.created_at|date:"M d, Y" }}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="p-3 rounded border">
                                <h4 class="mb-4">Stay Connected</h4>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <a href="#"
                                           class="w-100 rounded btn btn-primary d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-facebook-f btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">13,977 Fans</span>
                                        </a>
                                        <a href="#"
                                           class="w-100 rounded btn btn-danger d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-twitter btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">21,798 Follower</span>
                                        </a>
                                        <a href="#"
                                           class="w-100 rounded btn btn-warning d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-youtube btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">7,999 Subscriber</span>
                                        </a>
                                        <a href="#"
                                           class="w-100 rounded btn btn-dark d-flex align-items-center p-3 mb-2">
                                            <i class="fab fa-instagram btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">19,764 Follower</span>
                                        </a>
                                        <a href="#"
                                           class="w-100 rounded btn btn-secondary d-flex align-items-center p-3 mb-2">
                                            <i class="bi-cloud btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">31,999 Subscriber</span>
                                        </a>
                                        <a href="#"
                                           class="w-100 rounded btn btn-warning d-flex align-items-center p-3 mb-4">
                                            <i class="fab fa-dribbble btn btn-light btn-square rounded-circle me-3"></i>
                                            <span class="text-white">37,999 Subscriber</span>
                                        </a>
                                    </div>
                                </div>
                                <h4 class="my-4">Popular News</h4>
                                <div class="row g-4">
                                    {% for news in popular_newses %}
                                        <div class="col-12">
                                            <div class="row g-4 align-items-center features-item">
                                                <div class="col-4">
                                                    <div class="rounded-circle position-relative">
                                                        <div class="overflow-hidden rounded-circle">
                                                            <img src="{{ news.get_image }}"
                                                                 class="img-zoomin"
                                                                 alt="" width="100%" height="75px">
                                                        </div>
                                                        <span class="rounded-circle border border-2 border-white bg-primary btn-sm-square text-white position-absolute"
                                                              style="top: 10%; right: -10px;">3</span>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="features-content d-flex flex-column">
                                                        <p class="text-uppercase mb-2">{{ news.category.title }}</p>
                                                        <a href="{% url 'detail' news.slug %}" class="h6">
                                                            {{ news.title|truncatechars:35 }}
                                                        </a>
                                                        <small class="text-body d-block">
                                                            <i class="fas fa-calendar-alt me-1"></i>
                                                            {{ banner_news.created_at|time:"H:i" }} {{ banner_news.created_at|date:"M d, Y" }}

                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="col-lg-12">
                                        <a href="#"
                                           class="link-hover btn border border-primary rounded-pill text-dark w-100 py-3 mb-4">View
                                            More</a>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="border-bottom my-3 pb-3">
                                            <h4 class="mb-0">Trending Tags</h4>
                                        </div>
                                        <ul class="nav nav-pills d-inline-flex text-center mb-4">
                                            {% for tag in tags %}
                                                <li class="nav-item mb-3">
                                                    <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                                                    <span class="text-dark link-hover"
                                                          style="width: 90px;">{{ tag.title }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            
                                        </ul>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative banner-2">
                                            <img src="{% static 'img/banner-2.jpg' %}" class="img-fluid w-100 rounded"
                                                 alt="">
                                            <div class="text-center banner-content-2">
                                                <h6 class="mb-2">The Most Populer</h6>
                                                <p class="text-white mb-2">News & Magazine WP Theme</p>
                                                <a href="#" class="btn btn-primary text-white px-4">Shop Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
