{% extends 'base.html' %}

{% block content %}
    <!-- Features Start -->
    {% include 'components/features.html' %}
    <!-- Features End -->


    <!-- Main Post Section Start -->
    {% include 'components/main_post.html' %}
    <!-- Main Post Section End -->


    <!-- Banner Start -->
    {% include 'components/banner.html' %}
    <!-- Banner End -->


    <!-- Latest News Start -->
    {% include 'components/latest_news.html' %}
    <!-- Latest News End -->


    <!-- Most Populer News Start -->
    {% include 'components/popular.html' %}
    <!-- Most Populer News End -->
{% endblock %}